<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<style>
    body{
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        color: rgb(116, 8, 92);
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary  navbar-fixed-top">
        <a class="navbar-brand" href="#" style="color: red;">SHOPIFY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    
    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                   
              <a class="nav-link " href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link " href="{% url 'loginpage' %}">Login</a>
                  </li> 
                
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'signuppage' %}">Registration</a>
                  </li>  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                      Catogories
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item active" href="#">All Products</a>
                      
                      <a class="dropdown-item" href="#">Women</a>
                      <a class="dropdown-item" href="#">Men</a>
                      <a class="dropdown-item" href="#">Kids</a>
                     </div>
                  </li>  
                  <li class="nav-item ">
                    <a class="nav-link" href="#"><img src="https://img.favpng.com/1/0/19/shopping-cart-logo-grocery-store-png-favpng-Ch95Hxwf72xDpPbZbmv87T8m8.jpg" width="40px" height="30px"></a>
                  </li>
              </ul>
            </div>
          </nav>
          <br><br>
          
    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/26072023-UHP-D-daily-P5-JackJones-upto65.jpg"
                alt="a">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/22072023-UHP-D-MAIN-P2-LevisLeeCooper-min50.jpg"
                    alt="b">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/22072023-UHP-D-MAIN-P4-Axsuperdry-upto50.jpg"
                alt="c">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/22072023-UHP-D-MAIN-P5-DennislingoStylum-min60.jpg"
                 alt="d">
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div><br>
    <div class="container-fluid" style="background-color: bisque;">
        <h3 class="text-secondary bg-light text-center">Discover Online Stores</h3><br>
    </div>
    <div class="container">

        <div class="row">
            
            <div class="col">
                <a href="women1.html">
                    <img class="img-thumbnail"
                        src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-jewellery.jpg">
                </a>
            </div>
            <div class="col">
                <a href="men1.html">
                    <img class="img-thumbnail"
                        src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-watches.jpg">
                </a>                  
            </div>    
            <div class="col">
                <a href="men1.html">
                    <img class="img-thumbnail"
                        src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-home.jpg">
                </a>
            </div>
            <div class="col">
                <a href="men1.html">
                    <img class="img-thumbnail"
                        src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-indie.jpg">
                </a>
            </div>               
            <div class="col">
               <a href="women1.html">
                    <img class="img-thumbnail"
                        src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-homegrownbrands.jpg">
               </a>
            </div>
            <div class="col">
               <a href="women1.html">
                    <img class="img-thumbnail"
                        src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-wedding.jpg">
                   </a>
            </div>
        </div>
    </div><br><br>
    <div class="abc">
        <div class="container-fluid" style="background-color: bisque;">
            <h2 class="text-danger text-center"></h2><br>
        </div>
        <div class="container-sm">
            <div class="row">    
                <div class="col">
                    <a href="women1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-sarees.jpg">
                    </a>
                </div>
                <div class="col">
                    <a href="women1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-accessories.jpg">
                    </a>   
                </div>
                <div class="col">
                    <a href="men1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-footwear.jpg">
                    </a> 
                </div>
                <div class="col">
                    <a href="women1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-sportswear.jpg">
                    </a>
                </div>
                <div class="col">
                    <a href="women1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-intbrands.jpg">
                    </a>
                </div>
                <div class="col">
                    <a href="women1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-snh.jpg">
                    </a>
                </div>
                <div class="col">
                    <a href="women1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-westernwear.jpg">
                    </a>  
                </div>
                <div class="col">
                    <a href="women1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-DiscoverOnlineStores-trends.jpg">
                    </a> 
                </div>
            </div>
        </div>
    </div><br><br>
    <div class="container-fluid">
        <h2 class="text-primary bg-light text-center">Trends To Try</h2><br>
    </div>
    <div id="dem" class="carousel slide" data-ride="carousel">
       <ul class="carousel-indicators">
            <li data-target="#dem" data-slide-to="0" class="active"></li>
            <li data-target="#dem" data-slide-to="1"></li>
            <li data-target="#dem" data-slide-to="2"></li>
            <li data-target="#dem" data-slide-to="3"></li>   
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-Trends-azorteAltheoryOutryt-min50.jpg"
                alt="e">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-Trends-AvaasaSiyaahiFusion-upto70.jpg"
                    alt="f">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/25072023-UHP-D-JIT-P3-dolcecrudoGilto-starting249extraupto35.jpg"
                alt="g">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/25072023-UHP-D-NC-P4-BevogueMatchitt-under599.jpg"
                 alt="h">
            </div>   
        </div>
        <a class="carousel-control-prev" href="#dem" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#dem" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div><br><br>
    <div class="hero">
        <div class="container-fluid">
            <h2 class="text-dark text-center bg-success">Best Of Classics</h2><br>
        </div>
        <div class="container">
            <div class="row"> 
                <div class="col">
                    <a href="kid1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-Classics-dennislingo-min60.jpg">
                </a>
                </div>
                <div class="col">
                    <a href="kid1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-Classics-akskurtipedia-min50.jpg">
                    </a>
                </div>
                <div class="col">
                    <a href="kid1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-Classics-styli-min50.jpg">
                    </a>
                </div>
            </div><br>
            <div class="row pt-3">
                <div class="container-fluid" style="background-color: rgb(201, 233, 222);">
                    <h2 class="text-warning text-center bg-secondary">FASHION PowerHouses!</h2><br>
                </div> 
                <div class="col">
                    <a href="men1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-Superstarbrands-brooksbrothers-upto50.jpg">
                    </a>
                </div>
                <div class="col">
                    <a href="women1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-Superstarbrands-ucb-3070.jpg">
                    </a>
                </div>
                <div class="col">
                    <a href="men1.html">
                        <img class="img-thumbnail"
                            src="https://assets.ajio.com/cms/AJIO/WEB/01072023-UHP-D-Superstarbrands-aldo-upto50.jpg">
                    </a>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container-fluid" style="background-color: rgb(204, 204, 169);">
            <h2 class="text-primary bg-light text-center">Just IN</h2><br>
        </div>
        <div id="dem" class="carousel slide" data-ride="carousel">        
           <ul class="carousel-indicators">
                <li data-target="#dem" data-slide-to="0" class="active"></li>
                <li data-target="#dem" data-slide-to="1"></li>
                <li data-target="#dem" data-slide-to="2"></li>
                <li data-target="#dem" data-slide-to="3"></li>        
            </ul>  
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/25072023-UHP-D-JIT-P5-DillingerFashor-under499.jpg"
                    alt="i">
                </div>
                <div class="carousel-item">
                    <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/25072023-UHP-D-JIT-P7-ActionRedChief-flat50.jpg"
                        alt="j">
                </div>
                <div class="carousel-item">
                    <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/26072023-UHP-D-UHPwomen-p3-styli-thelabellife-min60.jpg"
                    alt="k">
                </div>
                <div class="carousel-item">
                    <img class="img-fluid" src="https://assets.ajio.com/cms/AJIO/WEB/26072023-UHP-D-UHPwomen-p1-m&s-coverstory-upto60.jpg"
                     alt="l">
                </div>    
            </div>
            <a class="carousel-control-prev" href="#dem" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#dem" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div><br><br>           
                 <div class="card bg-secondary"><br><br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-light">Contact</h2>
                        <p>Address: 5634 Park View Avenue, </p>
                        <p>34th Street,Bangalore</p>
                        <p>Phone: +91 5466 991923</p>
                    </div>
                    <div class="col">
                        <h2 class="text-light">Quick Links</h2>
                        <p>Visit Store</p>
                        <p>About US</p>
                        <p>Contact US</p>
                       </div>
                    <div class="col">
                        <h2 class="text-light">My Account</h2>
                        <p>Sign In</p>
                        <p>View Cart</p>
                        <p>My Whishlist</p>
                        <p>Track Your Order</p>                        
                    </div>
                    <div class="col">
                        <h2 class="text-light">Help</h2>
                        <p>Store Policy</p>
                        <p>Shipping & Returns</p>
                        <p>Terms & Conditions</p>
                        <p>FAQ</p>    
                    </div>
</div>
</div><br>                
                <a style="text-align: center;">@ All Rights Reserved to Omega 2022</a>
                <br>
            </div>
            </body>
            </html>